@import "../node_modules/tachyons/css/tachyons.min.css";

html, body {
    background-color: #E7040F;
}

ul, menu, dir {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.link {
    cursor: pointer;
}